{% extends 'base/base.html' %}

{% block title %} About View {% endblock title %}

{% block content %}

<h1>Hola {{ name }} Mucho Gusto en Conocerte!!</h1>
<br>
<a href="{% url 'home:index' %}" class="btn btn-outline-info">Go to Home</a>
{% endblock content %}