{% extends 'base/base.html' %}

{% block title %} Detail Category View {% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Category Name: <strong>{{ category.name }}</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the Id category:  {{ category.id }}</strong> It is shown by {{ category.user }}, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go view the status category:  <code>{{ category.status}}</code>, though the transition does limit overflow.
        
            <a href="{% url 'home:index' %}" class="btn btn-link">back</a>
        </div>
      </div>
    </div>
  </div>
    
    
{% endblock content %}