{% extends 'base/base.html' %}
{% block title %}List Users View{% endblock title %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>STAFF</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_staff }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}