body {
    background-color: lightblue;
    /* background-image: url('acronis.png'); */
    color: brown;
}

header {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #0099ff;
}

.bgcolorp {
    background-color: dodgerblue;
    padding-right: 100px;
    margin-right: 100px;
}

section p {
    text-align: center;
    padding-right: 100px;
    border-style: solid;
    border-width: 1em;
    border-color: #0099ff;
    border-radius: 200px;
}

.center {
    text-align: center;
}

.justificar {
    text-align: justify;
}

h1 {
    padding-top: 100px;
}

.tcolor {
    color: #0099ff;
}

button {
    outline-style: solid;
    outline-color: #0099ff;
    background-color:rgb(lightblue, lightblue, lightblue);
    border-radius: 20px;
    width: 40%;
    font-size: 40px;
    
}

button:hover {
    background-color: #0099ff;
}

p {
    line-height: 2.0;
    letter-spacing: 5px;
}

.interline {

    line-height: normal;
}

i {
    font-size: 50px;
}

div p a {
    font-size: 20px;
    color: green;
    text-decoration: none;
}

div p a:hover {
    background-color: blue;
    color: #fff;
}

div ul li {
    list-style-image: url("acronis.png");
}
